@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

@*<h1>@ViewData["Title"]</h1>*@

<form asp-route-returnUrl="@Model.ReturnUrl" method="post">
    <div class="row">
       
        <div class="col-md-4">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.FirstName"></label>
                <input asp-for="Input.FirstName" class="form-control" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.LastName"></label>
                <input asp-for="Input.LastName" class="form-control" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.PhoneNo"></label>
                <input asp-for="Input.PhoneNo" class="form-control" />
                <span asp-validation-for="Input.PhoneNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Street"></label>
                <input asp-for="Input.Street" class="form-control" />
                <span asp-validation-for="Input.Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.City"></label>
                <input asp-for="Input.City" class="form-control" />
                <span asp-validation-for="Input.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Zipcode"></label>
                <input asp-for="Input.Zipcode" class="form-control" />
                <span asp-validation-for="Input.Zipcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ProfileText">Profiltext</label>
                <textarea asp-for="Input.ProfileText" class="form-control" rows="3" placeholder="Jeg er en glad hund"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
        @*<div class="col-md-6 col-md-offset-2">
            <section>

                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </section>
        </div>*@
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
