@{
    ViewData["Title"] = "Home Page";
}


    <div class="header_section">
        <div class="banner_main">
            <div class="container_fpage">
                <div class="ram">
                    <div class="row">
                        <div class="col-sm-8">
                            <h1 class="taital">Pedigree Portalen</h1>
                            <p class="consectetur_text">Siden som gør det muligt hurtigt og nemt at holde overblikket over dine hunde og opdræt.</p>
                            <div class="banner_bt">
                                <button class="read_bt" asp-area="" asp-controller="Home" asp-action="Privacy">Læs Mere</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="about_section">
        <div class="about_text">
            <div class="container">
                <h1 class="about_taital_1">Nemt at finde det</h1>
                <h1 class="about_taital_2">Perfekte match</h1>
                <p class="magna_text">Opdrætter siden har features der gør det nemt at finde det perfekte match til din hund. Som finder de nødvendige oplysninger nemt og automatisk.</p>
                <div class="about_bt">
                    <button class="more_bt" asp-area="" asp-controller="Home" asp-action="Privacy">Læs Mere</button>
                </div>
            </div>
        </div>
    </div>
