@model PedigreePortalen.UI.Models.AnimalViewModel.DetailsAnimal

<div class="clear_both">
    <table id="pedigree" class="pedigree ta_center">
        <tbody>
            <tr><th class="pedigreetitle">Pedigree - ZOEGA PIECE OF MY HEART ALBA</th></tr>
            <tr>
                <td>
                    <table class="pedigree_tree">
                        <tbody>

                            <!--Dette er den øverste række-->


                            <tr>
                                <td class="animal" colspan="8">
                                    <div>
                                        <div class="tree-photo-ingrus">
                                            <a href="http://ingrus.net/chihuahua/en/details/164653"><img src="~/Img/banner.jpg" title=@Html.DisplayFor(model => model.PedigreeName)></a>
                                        </div>
                                    </div>
                                    <p class="title_text">
                                        <img class="gender_img" src="~/Img/Female_Symbol.jpg" title="female">
                                        <a href="http://ingrus.net/chihuahua/en/details/164653"
                                           title=@Html.DisplayFor(model => model.PedigreeName)>
                                            <b>@Html.DisplayFor(model => model.PedigreeName)</b>
                                        </a>
                                    </p>
                                    @*<label>Chocolate - Fawn&nbsp;<img class="flag_img" src="http://ingrus.net/images/flags/Denmark.gif" title="Denmark"> 2020</label>
                                        <label title="Hair">Longed-Haired</label>*@
                                </td>
                            </tr>
                            <!--Dette er den næst øvereste række-->
                            <tr>
                                <td colspan="4" class="animal">
                                    <div class="male_animal">&nbsp;</div>
                                    <div class="tree-photo-ingrus">
                                        <a href="http://ingrus.net/chihuahua/en/details/104008"><img src="~/Img/banner.jpg" title=""></a>
                                    </div>
                                    <p class="title_text">
                                        <img class="gender_img" src="~/Img/MaleSymbol.jpg" title="male">
                                        <a href="http://ingrus.net/chihuahua/en/details/104008" title=""><b>@Html.DisplayFor(model => model.PedigreeName)</b></a>
                                    </p>
                                    @*<label>&nbsp;<img class="flag_img" src="http://ingrus.net/images/flags/Denmark.gif" title="Denmark"> 2016</label>*@
                                </td>

                                <td colspan="4" class="animal">
                                    <div class="female_animal">&nbsp;</div>
                                    <div class="tree-photo-ingrus">
                                        <a href="http://ingrus.net/chihuahua/en/details/144235"><img src="~/Img/banner.jpg" title=""></a>
                                    </div>
                                    <p class="title_text">
                                        <img class="gender_img" src="~/Img/Female_Symbol.jpg" title="female">
                                        <a href="http://ingrus.net/chihuahua/en/details/144235" title=""><b>Mor</b></a>
                                    </p>
                                    @*<label>&nbsp;<img class="flag_img" src="http://ingrus.net/images/flags/Russia.gif" title="Russia"> 2018</label>*@
                                </td>
                            </tr>































                            <!--Dette er Mellem række-->
                            <tr>
                                <td colspan="2" class="animal">
                                    <div class="male_animal">&nbsp;</div>
                                    <div class="tree-photo-ingrus">
                                        <a href="http://ingrus.net/chihuahua/en/details/48389"><img src="~/Img/banner.jpg" title=""></a>
                                    </div>
                                    <p class="title_text">
                                        <img class="gender_img" src="~/Img/MaleSymbol.jpg" title="male">
                                        <a href="http://ingrus.net/chihuahua/en/details/48389" title="KING LOUIS VON BILK"><b>KING LOUIS VON BILK</b></a>
                                    </p>
                                    @*<label>Longed-Haired&nbsp;<img class="flag_img" src="http://ingrus.net/images/flags/Germany.gif" title="Germany"> 2013</label>*@
                                </td>

                                <td colspan="2" class="animal">
                                    <div class="female_animal">&nbsp;</div>
                                    <div class="tree-photo-ingrus">
                                        <a href="http://ingrus.net/chihuahua/en/details/48314"><img src="~/Img/banner.jpg" title="BLACKSTARS JOANNA"></a>
                                    </div>
                                    <p class="title_text">
                                        <img class="gender_img" src="~/Img/Female_Symbol.jpg" title="female">
                                        <a href="http://ingrus.net/chihuahua/en/details/48314" title="BLACKSTARS JOANNA"><b>BLACKSTARS JOANNA</b></a>
                                    </p>
                                    @*<label>Longed-Haired&nbsp;<img class="flag_img" src="http://ingrus.net/images/flags/Denmark.gif" title="Denmark"> 2012</label>*@
                                </td>

                                <td colspan="2" class="animal">
                                    <div class="male_animal">&nbsp;</div>
                                    <div class="tree-photo-ingrus">
                                        <a href="http://ingrus.net/chihuahua/en/details/100030"><img src="~/Img/banner.jpg" title="TAKE A WIN S LIPETSKIH OZER"></a>
                                    </div>
                                    <p class="title_text">
                                        <img class="gender_img" src="~/Img/MaleSymbol.jpg" title="male">
                                        <a href="http://ingrus.net/chihuahua/en/details/100030" title="TAKE A WIN S LIPETSKIH OZER"><b>TAKE A WIN S LIPETSKIH OZER</b></a>
                                    </p>
                                    @*<label>Smooth-Haired&nbsp;<img class="flag_img" src="http://ingrus.net/images/flags/Russia.gif" title="Russia"> 2015</label>*@
                                </td>

                                <td colspan="2" class="animal">
                                    <div class="female_animal">&nbsp;</div>
                                    <div class="tree-photo-ingrus">
                                        <a href="http://ingrus.net/chihuahua/en/details/106538"><img src="~/Img/banner.jpg" title="SHAN SAIN LEDI SHARM"></a>
                                    </div>
                                    <p class="title_text">
                                        <img class="gender_img" src="~/Img/Female_Symbol.jpg" title="female">
                                        <a href="http://ingrus.net/chihuahua/en/details/106538" title="SHAN SAIN LEDI SHARM"><b>SHAN SAIN LEDI SHARM</b></a>
                                    </p>
                                    @*<label>Smooth-Haired&nbsp;<img class="flag_img" src="http://ingrus.net/images/flags/Russia.gif" title="Russia"> 2016</label>*@
                                </td>
                            </tr>

                            <!--Dette er den nedereste række-->
                            <tr>
                                <td class="animal">
                                    <div class="male_animal">&nbsp;</div>
                                    <div class="tree-photo-ingrus">
                                        <a href="http://ingrus.net/chihuahua/en/details/10194"><img src="~/Img/banner.jpg" title="AVELINO VON PRUNK UND PROTZ"></a>
                                    </div>
                                    <p class="title_text">
                                        <img class="gender_img" src="~/Img/MaleSymbol.jpg" title="male">
                                        <a href="http://ingrus.net/chihuahua/en/details/10194" title="AVELINO VON PRUNK UND PROTZ"><b>AVELINO VON PRUNK UND PROTZ</b></a>
                                    </p>
                                    @*<label>Longed-Haired&nbsp;<img class="flag_img" src="http://ingrus.net/images/flags/Germany.gif" title="Germany"> 2010</label>*@
                                </td>

                                <td class="animal">
                                    <div class="female_animal">&nbsp;</div>
                                    <div class="tree-photo-ingrus">
                                        <a href="http://ingrus.net/chihuahua/en/details/10226"><img src="~/Img/banner.jpg" title="LA LUNA OF LOVELY ART"></a>
                                    </div>
                                    <p class="title_text">
                                        <img class="gender_img" src="~/Img/Female_Symbol.jpg" title="female">
                                        <a href="http://ingrus.net/chihuahua/en/details/10226" title="LA LUNA OF LOVELY ART"><b>LA LUNA OF LOVELY ART</b></a>
                                    </p>
                                    @*<label>Longed-Haired&nbsp;<img class="flag_img" src="http://ingrus.net/images/flags/Germany.gif" title="Germany"> 2010</label>*@
                                </td>

                                <td class="animal">
                                    <div class="male_animal">&nbsp;</div>
                                    <div class="tree-photo-ingrus">
                                        <a href="http://ingrus.net/chihuahua/en/details/48316"><img src="~/Img/banner.jpg" title="VALENTINO VOM EDERTAL"></a>
                                    </div>
                                    <p class="title_text">
                                        <img class="gender_img" src="~/Img/MaleSymbol.jpg" title="male">
                                        <a href="http://ingrus.net/chihuahua/en/details/48316" title="VALENTINO VOM EDERTAL"><b>VALENTINO VOM EDERTAL</b></a>
                                    </p>
                                    @*<label> 2010</label>*@
                                </td>

                                <td class="animal">
                                    <div class="female_animal">&nbsp;</div>
                                    <div class="tree-photo-ingrus">
                                        <a href="http://ingrus.net/chihuahua/en/details/58235"><img src="~/Img/banner.jpg" title="DAPHNE VON DEN KLEINEN PRINZEN"></a>
                                    </div>
                                    <p class="title_text">
                                        <img class="gender_img" src="~/Img/Female_Symbol.jpg" title="female">
                                        <a href="http://ingrus.net/chihuahua/en/details/58235" title="DAPHNE VON DEN KLEINEN PRINZEN"><b>DAPHNE VON DEN KLEINEN PRINZEN</b></a>
                                    </p>
                                    @*<label>Smooth-Haired&nbsp;<img class="flag_img" src="http://ingrus.net/images/flags/Denmark.gif" title="Denmark"></label>*@
                                </td>

                                <td class="animal">
                                    <div class="male_animal">&nbsp;</div>
                                    <div class="tree-photo-ingrus">
                                        <a href="http://ingrus.net/chihuahua/en/details/29477"><img src="~/Img/banner.jpg" title="LOVING YOU S LIPETSKIH OZER"></a>
                                    </div>
                                    <p class="title_text">
                                        <img class="gender_img" src="~/Img/MaleSymbol.jpg" title="male">
                                        <a href="http://ingrus.net/chihuahua/en/details/29477" title="LOVING YOU S LIPETSKIH OZER"><b>LOVING YOU S LIPETSKIH OZER</b></a>
                                    </p>
                                    @*<label>White&nbsp;<img class="flag_img" src="http://ingrus.net/images/flags/Russia.gif" title="Russia"> 2010</label> <label title="Hair">Longed-Haired</label>*@
                                </td>

                                <td class="animal">
                                    <div class="female_animal">&nbsp;</div>
                                    <div class="tree-photo-ingrus">
                                        <a href="http://ingrus.net/chihuahua/en/details/84461"><img src="~/Img/banner.jpg" title="LEGERLAND VERTY"></a>
                                    </div>
                                    <p class="title_text">
                                        <img class="gender_img" src="~/Img/Female_Symbol.jpg" title="female">
                                        <a href="http://ingrus.net/chihuahua/en/details/84461" title="LEGERLAND VERTY"><b>LEGERLAND VERTY</b></a>
                                    </p>
                                    @*<label>Smooth-Haired&nbsp;<img class="flag_img" src="http://ingrus.net/images/flags/Russia.gif" title="Russia"> </label>*@
                                </td>

                                <td class="animal">
                                    <div class="male_animal">&nbsp;</div>
                                    <div class="tree-photo-ingrus">
                                        <a href="http://ingrus.net/chihuahua/en/details/82528"><img src="~/Img/banner.jpg" title="LASCHIHOFF'S FUROR"></a>
                                    </div>
                                    <p class="title_text">
                                        <img class="gender_img" src="~/Img/MaleSymbol.jpg" title="male">
                                        <a href="http://ingrus.net/chihuahua/en/details/82528" title="LASCHIHOFF'S FUROR"><b>LASCHIHOFF'S FUROR</b></a>
                                    </p>
                                    @*<label>Smooth-Haired&nbsp;<img class="flag_img" src="http://ingrus.net/images/flags/Russia.gif" title="Russia"> 2014</label>*@
                                </td>

                                <td class="animal">
                                    <div class="female_animal">&nbsp;</div>
                                    <div class="tree-photo-ingrus">
                                        <a href="http://ingrus.net/chihuahua/en/details/49067"><img src="~/Img/banner.jpg" title="SHAN SAIN ZAFIRA LITTL QUEEN"></a>
                                    </div>
                                    <p class="title_text">
                                        <img class="gender_img" src="~/Img/Female_Symbol.jpg" title="female">
                                        <a href="http://ingrus.net/chihuahua/en/details/49067" title="SHAN SAIN ZAFIRA LITTL QUEEN"><b>SHAN SAIN ZAFIRA LITTL QUEEN</b></a>
                                    </p>
                                    @*<label>Longed-Haired&nbsp;<img class="flag_img" src="http://ingrus.net/images/flags/Russia.gif" title="Russia"> 2013</label>*@
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>






































<div class="clear_both">
    <table id="pedigree" class="pedigree ta_center">
        <tbody>
            <tr><th class="pedigreetitle">Pedigree - ZOEGA PIECE OF MY HEART ALBA</th></tr>
            <tr>
                <td>
                    <table class="pedigree_tree">
                        <tbody>
                            <!--Dette er den øverste række-->
                            <tr>
                                <td class="animal" colspan="8">
                                    <div>
                                        <div class="tree-photo-ingrus">
                                            <a href="http://ingrus.net/chihuahua/en/details/164653"><img src="~/Img/banner.jpg" title=@Html.DisplayFor(model => model.PedigreeName)></a>
                                        </div>
                                    </div>
                                    <p class="title_text">
                                        <img class="gender_img" src="~/Img/Female_Symbol.jpg" title="female">
                                        <a href="http://ingrus.net/chihuahua/en/details/164653"
                                           title=@Html.DisplayFor(model => model.PedigreeName)>
                                            <b>@Html.DisplayFor(model => model.PedigreeName)</b>
                                        </a>
                                    </p>
                                    @*<label>Chocolate - Fawn&nbsp;<img class="flag_img" src="http://ingrus.net/images/flags/Denmark.gif" title="Denmark"> 2020</label>
                                        <label title="Hair">Longed-Haired</label>*@
                                </td>
                            </tr>
                            <!--Dette er den næst øvereste række-->
                            <tr>
                                <td colspan="4" class="animal">
                                    <div class="male_animal">&nbsp;</div>
                                    <div class="tree-photo-ingrus">
                                        <a href="http://ingrus.net/chihuahua/en/details/104008"><img src="~/Img/banner.jpg" title=""></a>
                                    </div>
                                    <p class="title_text">
                                        <img class="gender_img" src="~/Img/MaleSymbol.jpg" title="male">
                                        <a href="http://ingrus.net/chihuahua/en/details/104008" title=""><b>@Html.DisplayFor(model => model.PedigreeName)</b></a>
                                    </p>
                                    @*<label>&nbsp;<img class="flag_img" src="http://ingrus.net/images/flags/Denmark.gif" title="Denmark"> 2016</label>*@
                                </td>

                                <td colspan="4" class="animal">
                                    <div class="female_animal">&nbsp;</div>
                                    <div class="tree-photo-ingrus">
                                        <a href="http://ingrus.net/chihuahua/en/details/144235"><img src="~/Img/banner.jpg" title=""></a>
                                    </div>
                                    <p class="title_text">
                                        <img class="gender_img" src="~/Img/Female_Symbol.jpg" title="female">
                                        <a href="http://ingrus.net/chihuahua/en/details/144235" title=""><b>Mor</b></a>
                                    </p>
                                    @*<label>&nbsp;<img class="flag_img" src="http://ingrus.net/images/flags/Russia.gif" title="Russia"> 2018</label>*@
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>